body{
    background-color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
}

/* HEADER */

header{
    text-align: center;
}

main{
    max-width: 1041px;
    margin: 50px auto; 
}

/* Titulos */
h1,h2{
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 0.5em;
    text-transform: uppercase;  
    word-spacing: 0.2em;
}
h1{
    font-size: 35px;
    line-height: 60px;
}

h2{
    font-size: 20px;
    line-height: 33px;
    padding-left: 10px;
}

/*Listas*/
ul{
    font-weight: bold;
    font-style: italic;
    line-height: 1.5em;
}
.texto{
    font-weight: normal;   
    font-style: normal;
}

dl{
    line-height: 1.5em;
}

dt{
    padding-left:35px; 
}

dt span.item{
    font-weight: bold;
}
dd{
    padding-left: 75px;
}

/* FOOTER */

footer{
    background-color: #005677;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;  
    text-align: center;
}

.footerimg{
    padding-left: 10px;
    vertical-align: middle;
}


