@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: 'Inter',sans-serif;
    height: 100vh;
}

section.banner{
    background-image: url('../img/header_banner.jpg');
    background-position: center;
    height: 100px;
}

nav{
    font-size: 20px;
}

h1,h2{
    text-transform: uppercase;
    word-spacing: 1rem;
    letter-spacing: 5px;
}

h1{
    background-color: #D1D1D140;
    color: black; 
    text-align: center;
    font-size: 40px;
}

h2{
    background-color: #D5D5D5;
}
main{
    margin: 25px auto;
    width: 75%;
}
main dt span{
    font-weight: bold;
}
main dd{
    padding-left: 2.5px;
}

footer{
    background-image: url('../img/footer_banner.jpg');
    background-position: center;
    line-height: 50px;
    text-align: right;
}
section.RedesSociales{
    padding-right: 10px;
}
section.RedesSociales i{
    vertical-align: middle;
    padding-left: 10px;
    font-size: 30px;
    color:white;
}